<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dtbid.dropthebid.member.repository.MemberRepository">


    <!-- 오동건 - Email 중복 여부 -->
    <select id="countByMemberEmail" parameterType="string" resultType="Long">
        SELECT COUNT(EMAIL) CNT
        FROM MEMBER
        WHERE EMAIL = #{email}
    </select>

    <!-- 오동건 - NickName 중복 여부 -->
    <select id="countByNicName" parameterType="string" resultType="Long">
        SELECT COUNT(NICKNAME) CNT
        FROM MEMBER
        WHERE NICKNAME = #{nickname}
    </select>

    <!-- 오동건 - 사용자아이디기준 사용자 검색 -->
    <select id="findByMemberId" parameterType="long" resultType="MemberDto">
        SELECT MEMBER_ID
             , EMAIL
             , PASSWORD
             , NAME
             , NICKNAME
             , SEX
             , BIRTHDAY
             , ADDRESS
             , AUTHORITY
             , REFRESH_TOKEN
             , DELETE_FLAG
        FROM MEMBER
        WHERE MEMBER_ID = #{memberId}
    </select>

    <!-- 오동건 - 이메일기준 사용자 검색 -->
    <select id="findByMemberEmail" parameterType="string" resultType="MemberDto">
        SELECT MEMBER_ID
             , EMAIL
             , PASSWORD
             , NAME
             , NICKNAME
             , SEX
             , BIRTHDAY
             , ADDRESS
             , AUTHORITY
             , REFRESH_TOKEN
             , DELETE_FLAG
        FROM MEMBER
        WHERE EMAIL = #{email}
    </select>

    <!-- 오동건 - 회원가입 -->
    <insert id="insertMember" parameterType="com.dtbid.dropthebid.member.model.form.SignUpForm">
        INSERT
        INTO MEMBER
            ( EMAIL, PASSWORD, NAME, NICKNAME, SEX, BIRTHDAY, ADDRESS)
        VALUES
            ( #{email}, #{password}, #{name}, #{nickname}, #{sex}, #{birthday}, #{address})
    </insert>


    <!-- 오동건 - Refresh Token 수정  -->
    <update id="updateMemberToken">
        UPDATE MEMBER
        SET REFRESH_TOKEN = #{refreshToken}
        WHERE MEMBER_ID = #{memberId}
    </update>

    <!--  오동건 - 회원 정보 수정  -->
    <update id="updateMemberInfo">
        UPDATE MEMBER
        SET PASSWORD = #{signUpForm.password}
          , NAME     = #{signUpForm.name}
          , SEX      = #{signUpForm.sex}
          , BIRTHDAY = #{signUpForm.birthday}
          , ADDRESS  = #{signUpForm.address}
        WHERE MEMBER_ID = #{memberId}
    </update>

    <!--  오동건 - 회원 탈퇴  -->
    <update id="updateMemberWithdrawal" parameterType="long">
        UPDATE MEMBER
        SET DELETE_FLAG = 'Y'
          , REFRESH_TOKEN = null
        WHERE MEMBER_ID = #{memberId}
    </update>

    <!--  오동건 - 회원 탈퇴  -->
    <update id="updateRefreshToken" parameterType="long">
        UPDATE MEMBER
        SET REFRESH_TOKEN = null
        WHERE MEMBER_ID = #{memberId}
    </update>
</mapper>
























